    .first{
        background: url('https://images.pexels.com/photos/9741288/pexels-photo-9741288.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') top center repeat-y;
        background-repeat: no-repeat;
        background-position:100% center ;
        background-size: cover;
        height: 60vh;
     }
     .btnslide{
        display: none;
        visibility: hidden;
     }
     body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
     }
     .second{
        background-image: url('https://images.pexels.com/photos/7600177/pexels-photo-7600177.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-repeat: no-repeat;
        background-position:100% center ;
        background-size: cover;
        height: 60vh;
     }
     .third{
        background-image: url('https://wallpapercave.com/wp/wp4956754.jpg');
        background-repeat: no-repeat;
        background-position:100% center ;
        background-size: cover;
        height: 60vh;
     }
     .fourth{
        background-image: url('https://images.pexels.com/photos/7599945/pexels-photo-7599945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-repeat: no-repeat;
        background-position:100% center ;
        background-size: cover;
        height: 60vh;
     }.carousel-control-prev{
        margin-left: -15px;
     }
     .home-banner h1{
         margin-top: 100px;
     }
     .carousel-control-next{
        margin-right: -20px;
     }
     .home-banner-text{
        margin-left: 100px;
        width: 50%;
        margin-top: 50px;
        height: 200px;
     }
     .home-banner-text h1{
       color: rgb(255, 255, 255);
     }
     .customp{
       color: rgb(0, 0, 0);
     }
@media (max-width:456px){
   .cbr{
      display: none;
   }
   .home-banner-text{
      margin-left: 0px;
      width: 50%;
      margin-top: 50px;
      height: 200px;
   }
   }